{% extends 'blog/base.html' %}

{% block content %}
<div class="jumbotron">
    <div class="content container" style="width: 100%; min-height: 100vh;">
        <div class="row align-left-md" style="align-items: center">
            <div style="display: flex; width: 100%; height:100%; position: absolute; top: 0; left: 0; margin: auto;">
                <div class="col-md-2"></div>
                <div class="col-12 col-md-3" style="margin: auto;">
                    <div class="row align-center-sm">
                        <h1>Matt Dawson</h1>
                    </div>
                    <div class="row align-center-sm">
                        <p class="m-0">I'm a Computer Science student at the University of Birmingham, a degree apprentice with PwC and a Cyber Security and Digital Forensics enthusiast.</p>
                    </div>
                </div>
                <div class="col-md-5" style="margin: auto;">
                    <img class="img-fluid rounded-circle" style="max-height: 30vh;" src="/static/picture.jfif">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}